.toolTip{
  position: relative;
  display: inline-block;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.toolTip .toolTipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}

.must{
  float: left;
}

.pressHere{
  color: black;
  text-decoration: none;
}

#prewimg{
  max-height: 300px;
}